<div class="container component">
  <div class="page-header">
    <h1 class="page">Common Header</h1>
  </div>

  <p class="lead">A Common Header with Google Authentication, and Rise Registration process, that should be reused across all Rise Vision applications.</p>

  <p><strong>Dependencies</strong> <span class="label label-info">ui.bootstrap</span></p>

  <div class="row">
    <div class="col-md-6">
      <h3>Usage</h3>
      <!-- Code Snippet -->
<script type="text/ng-template" id="user-Not-authenticated">
<common-header
  nav-options="navOptions"
  auth-status="0"
  is-admin="true"
  sub-company-selected="true"
  company-loaded="true"
  selected-company-name="'Rise Vision'"
  user-profile-picture="'http://api.randomuser.me/portraits/med/men/33.jpg'"
  user-profile-name="'Alfredo Sanchez'"
  user-profile-email="'alfredo.sanchez90@example.com'"
  messages="messages"
></common-header>
</script>
      <hljs class="fixed" include="'user-Not-authenticated'"></hljs>
      <!-- END Code Snippet -->
    </div>

    <div class="col-md-6">
      <h3>Sample Data</h3>
      <!-- Code Snippet -->
<script type="text/ng-template" id="sample-data">
$scope.navOptions = [{
  title: 'Home',
  link: '#/'
}, {
  title: 'Store',
  link: ''
}, {
  title: 'Account',
  link: ''
}, {
  title: 'Sellers',
  link: ''
}, {
  title: 'Platform',
  link: 'http://rva.risevision.com/',
  target: '_blank'
}];

$scope.messages = [
  '<li class="system-message">Lorem ipsum dolor sit amet</li>',
  '<li class="system-message">Consectetur adipiscing elit</li>',
  '<li class="system-message">Suspendisse convallis leo sed</li>'
];
</script>
      <hljs class="fixed" include="'sample-data'"></hljs>
      <!-- END Code Snippet -->
    </div>

    <div class="col-md-6">
      <h3>Example Settings</h3>
      <!-- Auth Status -->
      <div class="form-group">
        <label for="auth-status">Auth Status</label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" value="-1" ng-model="authStatus"> -1
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" value="0" ng-model="authStatus"> 0
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" value="1" ng-model="authStatus"> 1
        </label>
      </div>
      <!-- Is Admin -->
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="isAdmin"> Is Administrator
        </label>
      </div>
      <!-- Company Loaded -->
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="companyLoaded"> Company Loaded
        </label>
      </div>
      <!-- Sub Company Selected -->
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="subCompanySelected"> Sub Company Selected
        </label>
      </div>
      <!-- Selected Company Name -->
      <div class="form-group">
        <label for="selectedCompanyName">Selected Company Name</label>
        <input type="text" class="form-control" ng-model="selectedCompanyName">
      </div>
      <!-- User Profile Name -->
      <div class="form-group">
        <label for="userProfileName">User Profile Name</label>
        <input type="text" class="form-control" ng-model="userProfileName">
      </div>
    </div>
  </div>

  <!-- Dynamic Example -->
  <div class="row examples">
    <h3>Example</h3>
    <common-header
      navOptions="navOptions"
      auth-status="authStatus"
      is-admin="isAdmin"
      sub-company-selected="subCompanySelected"
      company-loaded="companyLoaded"
      selected-company-name="selectedCompanyName"
      user-profile-name="userProfileName"
      user-profile-email="userProfileEmail"
      user-profile-picture="userProfilePicture"
      messages="messages"
    ></common-header>
  </div>
</div>