<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="http://c558385.r85.cf2.rackcdn.com/rise-logo.png"></a>
    </div>
    <div class="navbar-collapse collapse" collapse="navCollapsed">
      <ul class="nav navbar-nav">
        <li><a href="#/components">Components</a></li>
        <li><a href="#/commonheader">Common Header</a></li>
        <li><a href="#/componentdemo">Build a Demo Page</a></li>
      </ul>
    </div>
  </div>
</div>