<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand hidden-md hidden-lg text-center"
        href=""
        ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <i class="fa fa-bars"></i>
      </a>

      <a class="navbar-brand"
        href="http://www.risevision.com/" target="_blank">
        <img src="//s3.amazonaws.com/rise-common/images/logo-small.png" class="img-responsive logo-small" width="113" height="42" alt="Rise Vision">
      </a>
    </div>
    <!-- <div class="navbar-collapse collapse" > -->
    <div class="navbar-collapse navbar-left" collapse="navCollapsed">
      <ul class="nav navbar-nav">
        <li><a href="#/components">Components</a></li>
        <li><a href="#/componentdemo">Build a Demo Page</a></li>
        <li><a href="#/input">Input Guidelines</a></li>
      </ul>
    </div>
  </div>
</div>